.chat-screen {
  flex: 5;
  margin-left: 20%;
}

.chat-screen .header {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  font-size: 22px;
  text-align: Center;
  text-transform: uppercase;
  position: fixed;
  width: 80%;
}

.message-container {
  margin-bottom: 120px;
  margin-top: 65px;
}
